<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Jugadores registrados</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Color seleccionado</th>
            <th>Balance</th>
            <th></th>
            <th></th> 
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Nombre</th>
            <th>Color seleccionado</th>
            <th>Balance</th>
            <th></th>
            <th></th> 
          </tr>
        </tfoot>
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.color %></td>
            <td><%= user.balance == 0 ? 'Sin Saldo' : user.balance %></td>
            <td><%= link_to 'Editar', edit_user_path(user) %></td>
            <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
          </tr>  
        <% end %>       
        </tbody>
      </table>
    </div>
  </div>
</div>



