<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Inicio</h1>
</div>

<!-- Content Row -->
<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-primary shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Jugadores Registrados</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @total_players %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-calendar fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-success shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Total Ganado</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @earned_by_players %></div>
          </div>
          <div class="col-auto">
            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-info shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-info text-uppercase mb-1">Total Giros</div>
            <div class="row no-gutters align-items-center">
              <div class="col-auto">
                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><%= @total_rolls %></div>
              </div>                
            </div>
          </div>
          <div class="col-auto">
            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Pending Requests Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
    <div class="card border-left-warning shadow h-100 py-2">
      <div class="card-body">
        <div class="row no-gutters align-items-center">
          <div class="col mr-2">
            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">Temperatura Actual</div>
            <div class="h5 mb-0 font-weight-bold text-gray-800"><%= @actual_forecast %>º</div>
          </div>
          <div class="col-auto">
            <i class="fas fa-comments fa-2x text-gray-300"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Content Row -->


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Historico de jugadas</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Tiros</h6>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>Nº Tiro</th>
            <th>Ganador</th>
            <th>Color Ganador</th>
            <th>Color Jugador</th>
            <th>Temperatura</th>
            <th>Balance</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Nº Tiro</th>
            <th>Jugador</th>
            <th>Color Ganador</th>
            <th>Color Jugador</th>
            <th>Temperatura</th>
            <th>Balance</th>
          </tr>
        </tfoot>
        <tbody>
        <% @roulettes_rolls.each do |roulette_roll| %>
          <tr>
            <td><%= roulette_roll.n_roll %></td>
            <td>
              <% @users.each do |user| %>
                <% if roulette_roll.user_id == user.id %>
                <%= user.name %>
                <% end %>
              <% end %>
            </td>
            <td><%= roulette_roll.color %></td>
            <td>
              <% @users.each do |user| %>
                <% if roulette_roll.user_id == user.id %>
                  <%= user.color %>
                <% end %>
              <% end %>
            </td>
            <td><%= roulette_roll.forecast %></td>
            <td><%= roulette_roll.amount %></td>
          </tr>  
        <% end %>       
        </tbody>
      </table>
    </div>
  </div>
</div>