<%= form_with(model: roulette_roll) do |form| %>
  <% if roulette_roll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(roulette_roll.errors.count, "error") %> prohibited this roulette_roll from being saved:</h2>

      <ul>
        <% roulette_roll.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :color %>
    <%= form.text_field :color %>
  </div>

  <div class="field">
    <%= form.label :user %>
    <%= form.text_field :user %>
  </div>

  <div class="field">
    <%= form.label :forecast %>
    <%= form.number_field :forecast %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
