<p id="notice"><%= notice %></p>

<h1>Roulette Rolls</h1>

<table>
  <thead>
    <tr>
      <th>Color</th>
      <th>User</th>
      <th>Forecast</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @roulette_rolls.each do |roulette_roll| %>
      <tr>
        <td><%= roulette_roll.color %></td>
        <td><%= roulette_roll.user %></td>
        <td><%= roulette_roll.forecast %></td>
        <td><%= roulette_roll.amount %></td>
        <td><%= link_to 'Show', roulette_roll %></td>
        <td><%= link_to 'Edit', edit_roulette_roll_path(roulette_roll) %></td>
        <td><%= link_to 'Destroy', roulette_roll, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Roulette Roll', new_roulette_roll_path %>
